@model DotNetAppSqlDb.Models.Carrer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete a Carrer</h2>

<h3></h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.in_charge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_charge)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Lista de estudiantes", "Index")
        </div>
    }
</div>
